OO concepts:
- Inheritance
- Encapsulation
- Polymorphism
- Abstraction

Design patterns:
- Creational:
  - Singleton - ensure that a lass has only one instance, while providing a global access point to this instance.
- Behavioural

Unit tests:
- At least 3 unit tests